<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link rel="icon" href="/img/creeper.png">
    <title>Settings - Creeper</title>
    <link href="/css/vue-simple-context-menu-3.4.2.css" rel="stylesheet" type="text/css">
    <link href="/css/settings.css" rel="stylesheet" type="text/css">
    <!-- development version of Vue -->
    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"
      crossorigin="anonymous"
      referrerpolicy="no-referrer">
    </script> -->
    <script src="/js/vue-2.6.11.min.js"></script>
    <script src="/js/vue-simple-context-menu-3.4.2.min.js"></script>
    <script src="/js/clipboard-2.0.10.min.js"></script>
    <script src="/js/settings_component.js"></script>
  </head>

  <body>
    <div id="page-content">
      <div class="ctrl-panel card">
        <div class="version">
          <a>{{versionText}}</a>
        </div>
        <div class="separator"></div>
        <user-settings-option
          key-name="auto_start"
          label="Auto Start">
        </user-settings-option>
        <user-settings-option
          key-name="smart_mode"
          label="Smart Mode"
          :confirm="{beforeUncheck: 'Are you sure you want to disable SMART mode?'}">
        </user-settings-option>
        <user-settings-option
          key-name="allow_lan"
          label="Allow from LAN">
          <span v-if="needsRestartApp">
            (<a style="color: #e80c0c;">Needs Restart</a>)
          </span>
        </user-settings-option>
        <user-settings-option
          key-name="show_hidden_feeds"
          :label="'Hidden Feeds (' + hiddenFeedsNum + ')'">
        </user-settings-option>
        <div class="separator"></div>
        <button @click="openAppFolder">App Folder</button>
        <button @click="openMonitor">Monitor</button>
        <button @click="addFeed">Add Feed</button>
      </div>
      <div
        class="server-lists"
        :hiding-enabled="!userSettings.show_hidden_feeds">
        <server-list
          v-for="item in feedList"
          :feed-data="item"
          @switch-node="switchNode"
          @test-node="testNode"
          @edit-feed="editFeed"
          @delete-feed="deleteFeed"
          @update-feed="updateFeed"
        />
      </div>
      <div comment="i donot know why but keep this wrapper div">
        <vue-simple-context-menu
          :element-id="'popupMenuId'"
          :options="popupMenuOptions"
          :ref="'popupMenu'"
          @option-clicked="menuOptionClicked"
        />
      </div>
      <div class="dialog-wrapper" v-show="showDialog" @click.self="showDialog = false">
        <div class="dialog-window">
          <div class="dialog-title">{{dialogTitle}}</div>
          <div id="dialog-content" class="code-font">{{dialogContent}}</div>
          <div style="display: flex; justify-content: center; margin-top: 1em;">
            <button
              class="clipboard-button"
              data-clipboard-target="#dialog-content"
              :disabled="!dialogContent"
            >
              Copy
            </button>
            <span style="width: 1em;"></span>
            <button @click="showDialog = false">OK</button>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script>
    function addStyle(styleString) {
      const style = document.createElement('style');
      style.textContent = styleString;
      document.head.append(style);
    }

    function makeColoredMaskStyles(items) {
      const makeStyle = (name, rgb) => `
        tr.${name} {
          background-image: linear-gradient(
            -45deg,
            rgba(${rgb}, 0.5) 12.5%,
            #0000 12.5%,
            #0000 50%,
            rgba(${rgb}, 0.5) 50%,
            rgba(${rgb}, 0.5) 62.5%,
            #0000 62.5%,
            #0000 100%
          );
          background-size: 8px 8px;
        }`;

      let result = '';
      items.forEach(args => {
        result += makeStyle(...args);
      });
      return result;
    }

    addStyle(makeColoredMaskStyles([
      ['duplicate', '204, 204, 204'],
      ['actived', '50, 220, 0'],
      ['testing', '255, 235, 0'],
    ]));

    function capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    }

    function timeDifference(current, previous) {
      const msPerSecond = 1000;
      const msPerMinute = msPerSecond * 60;
      const msPerHour = msPerMinute * 60;
      const msPerDay = msPerHour * 24;
      const msPerMonth = msPerDay * 30;
      const msPerYear = msPerDay * 365;

      const elapsed = current - previous;
      if (elapsed < msPerSecond) {
        return 'just now';
      }
      else if (elapsed < msPerMinute) {
        return Math.round(elapsed/1000) + ' seconds ago';
      }
      else if (elapsed < msPerHour) {
        return Math.round(elapsed/msPerMinute) + ' minutes ago';
      }
      else if (elapsed < msPerDay ) {
        return Math.round(elapsed/msPerHour ) + ' hours ago';
      }
      else if (elapsed < msPerMonth) {
        return Math.round(elapsed/msPerDay) + ' days ago';
      }
      else if (elapsed < msPerYear) {
        return Math.round(elapsed/msPerMonth) + ' months ago';
      }
      else {
        return Math.round(elapsed/msPerYear ) + ' years ago';
      }
    }

    function timeDiffFromNow(timestamp) {
      return timeDifference(new Date(), timestamp * 1000);
    }

    function truncateString(str, num) {
      if (str.length > num) {
        return str.slice(0, num) + "...";
      } else {
        return str;
      }
    }

    function isValidHttpUrl(strUrl) {
      let url;
      try {
        url = new URL(strUrl);
      } catch (_) {
        return false;
      }
      return ['http:', 'https:'].includes(url.protocol);
    }

    function fetchJSON(url, callback) {
      return fetch(url)
        .then(res => res.json())
        .then(data => {
          if (data.error == undefined) {
            callback(data);
          }
        })
    }

    function addShadowProp(obj, name, value) {
      delete obj[name];
      Object.defineProperty(obj, name, {value, configurable: true});
    }

    function promptURL(msg, url) {
      msgText = msg || 'URL';
      urlText = url || '';
      let inputedURL = prompt(msgText, urlText);
      if (inputedURL === null) {
        return null;
      }

      inputedURL = inputedURL.trim();
      if (!isValidHttpUrl(inputedURL)) {
        alert('Invalid URL: ' + (inputedURL || '<empty>'));
        return null;
      }

      return inputedURL;
    }

    function isSpecialItem(item, index) {
      const host = item.conf.server
      if ((host.match(/\./g) || []).length <= 1)
        return true;  // use top domain

      if (['1.1.1.1'].includes(host))
        return true;

      return false;
    }

    app = new Vue({
      el: '#page-content',
      data: {
        version: null,
        speed: {},
        highestSpeed: 0,
        feedList: [],
        activedServer: null,
        userSettings: {},
        userSettingsLoaded: false,
        popupMenuOptions: [
          { name: 'View Feed', id: 'view-feed' },
          { name: 'View Config', id: 'view-conf' },
        ],
        showDialog: false,
        dialogTitle: '',
        dialogContent: '',
      },
      mounted() {
        new ClipboardJS('.clipboard-button');

        fetchJSON('/version.json', data => this.version = data);

        fetchJSON('/feed.json', data => {
          this.feedList = this.addMetaDataToFeedList(data);
        })
          .then(this.loadSpeedData)
          .then(this.loadSelectedProxy)
        ;

        fetchJSON('/api/token', data => this.token = data.token)
          .then(this.loadUserSetting)
        ;
      },
      computed: {
        versionText() {
          if (!this.version) {
            return null;
          }

          const v = this.version;
          const name = capitalizeFirstLetter(v.name);
          return `${name} ${v.verison} (${v.build})`;
        },
        needsRestartApp() {
          const app = this.userSettings?.app;
          const anyAddr = app && app['listen_any_addr'];
          return this.userSettings.allow_lan && !anyAddr;
        },
        hiddenFeedsNum() {
          return this.feedList.filter(x => x.hidden).length;
        },
      },
      methods: {
        async apiPostJSONCallback(url, obj, callback) {
          const apiURL = (url + '?token=' + this.token);
          return await fetch(apiURL, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(obj)
            })
            .then(res => {
                return res.json();
            })
            .then(callback)
          ;
        },
        async apiPostJSON(url, obj) {
          return await this.apiPostJSONCallback(url, obj, data => {
            if (data.error) {
              alert(`When call ${url}:\nError: ${data.error}`);
              return null;
            } else {
              return data;
            }
          });
        },
        async apiPostJSONNoAlert(url, obj) {
          return await this.apiPostJSONCallback(url, obj, data => data);
        },
        makeProxyUID(scheme, proxy) {
          let extra = '';
          const conf = proxy.conf;
          if (scheme === 'vmess') {
            const host = conf.host || '';
            const path = conf.path || '';
            extra = ` - ${host}${path}`;
          }
          const serverAddr = conf.server + ':' + conf.server_port;
          return serverAddr + extra;
        },
        adaptPropNames(feedItem) {
          if (feedItem.scheme === 'vmess') {
            feedItem.proxies.forEach(server => {
              const conf = server.conf;
              addShadowProp(conf, 'remark', conf.ps);
              addShadowProp(conf, 'server', conf.add);
              addShadowProp(conf, 'server_port', conf.port);
            });
          }
        },
        addMetaDataToFeedList(items) {
          if (!items) {
            return [];
          }

          items.forEach(item => {
            this.adaptPropNames(item);
            item.proxies.forEach((proxy, i) => {
              if (isSpecialItem(proxy, i)) {
                proxy.duplicate = false;
              }

              proxy.type = item.scheme;
              proxy.uid = this.makeProxyUID(item.scheme, proxy);
              proxy.testing = false;
            });

            if (item.hidden === undefined) {
              item.hidden = false;
            }
          });

          return items;
        },
        isUIDInFeed(uid) {
          if (!uid) {
            return false;
          }

          for (let i = 0; i < this.feedList.length; ++i) {
            const item = this.feedList[i].proxies;
            for (const key in item) {
              if (item.hasOwnProperty(key)) {
                if (item[key].uid === uid) {
                  return true;
                }
              }
            }
          }

          return false;
        },
        updateHighestSpeed(result) {
          let highestSpeed = 0;
          const speedList = result || this.speed;

          Object.entries(speedList).forEach(entry => {
            const [key, value] = entry;
            const speed = value?.speedNum;
            if (speed && this.isUIDInFeed(key)) {
              if (speed > highestSpeed) {
                highestSpeed = speed;
              }
            }
          });

          this.highestSpeed = highestSpeed || 99999;
        },
        loadSelectedProxy() {
          fetchJSON('/cur_node.json', data => {
            this.addMetaDataToFeedList([{
              scheme: data.type,
              proxies: [data],
            }]);
            this.activedServer = data.uid;
          });
        },
        loadUserSetting() {
          fetchJSON('/api/user_settings', data => {
            this.userSettings = data;
            this.userSettingsLoaded = true;
          });
        },
        getServerSpeed(speedText) {
          if (!speedText) {
            return null;
          }

          const words = speedText.match(/([\d\.]+)MiB\/s/);
          if (words === null) {
            return null;
          }

          return parseFloat(words[1]);
        },
        makeSpeedText(speedItem) {
          const error = speedItem.error;
          if (error !== undefined) {
            let words = error.match(/([^:]*): "(.*)"/);
            if (words === null) {
              shortError = truncateString(error, 20);
              words = [null, shortError, error];
            }

            return {
              update: 'failed',
              result: '\u26a0\ufe0f ' + words[1],
              title: words[2],
            };
          }

          result = speedItem['result'];
          speedText = result['average_dl_speed'];
          speedTextFull = `${speedText} (+${result['connection_time']})`
          updateTime = speedItem['update'];

          return {
            update: timeDiffFromNow(updateTime),
            updateTime: updateTime,
            result: speedTextFull,
            speedNum: this.getServerSpeed(speedText),
          }
        },
        loadSpeedData() {
          fetchJSON('/speed.json', data => {
            let result = {};
            Object.entries(data).forEach(entry => {
              const [key, value] = entry;
              result[key] = this.makeSpeedText(value);
            });

            this.speed = {};
            this.updateHighestSpeed(result);
            this.speed = result;
          });
        },
        openAppFolder() {
          this.apiPostJSON('/api/simple_cmd', {cmd: 'open_app_folder'});
        },
        openMonitor() {
          window.open('/monitor.html', 'monitor',
            'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,' +
            'resizable=yes,copyhistory=no,width=1100,height=800,top=100,left=100');
        },
        async addFeed() {
          const url = promptURL('Add Feed URL');
          if (url === null) {
            return;
          }

          result = await this.apiPostJSON('/api/add_feed', {url});
          if (result === null) {
            return;
          }

          if (result.existing) {
            alert('Feed already existing: \n' + url);
          } else {
            this.feedList.push(result.feed);
          }
        },
        async switchNode(item) {
          const result = await this.apiPostJSON('/api/switch_node', item);
          if (result !== null) {
            this.activedServer = item.uid;
          }
        },
        async testNode(item, callback) {
          const result = await this.apiPostJSONNoAlert('/api/test_speed', item);
          const speedText = this.makeSpeedText(result);
          this.$set(this.speed, item.uid, speedText);
          callback();
          this.updateHighestSpeed();
        },
        async editFeed(uid, url, callback) {
          const result = await this.apiPostJSON('/api/edit_feed', { uid, url });
          callback(result);
        },
        opFeedByUID(uid, func, ...args) {
          for (let i = 0; i < this.feedList.length; ++i) {
            const item = this.feedList[i];
            if (item.uid == uid) {
              func(this.feedList, i, ...args);
              break;
            }
          }
        },
        async deleteFeed(feedItem) {
          if (!confirm(`Delete feed: "${feedItem.url}"?`)) {
            return;
          }

          const uid = feedItem.uid;
          const result = await this.apiPostJSON('/api/delete_feed', { uid });
          if (result !== null) {
            this.opFeedByUID(uid, this.$delete);
          }
        },
        async updateFeed(uid, callback) {
          const result = await this.apiPostJSON('/api/update_feed', { uid });
          if (result !== null) {
            const feed = this.addMetaDataToFeedList([result])[0];
            this.opFeedByUID(uid, this.$set, feed);
          }
          callback(result);
        },
        async menuOptionClicked(event) {
          const optionId = event.option.id;
          let viewType = '';
          let viewContent = '';

          if (optionId === 'view-feed') {
            viewType = 'Feed';
            viewContent = JSON.stringify(event.item.conf, null, 4);
          } else if (optionId === 'view-conf') {
            const result = await this.apiPostJSON('/api/node_config', event.item);
            if (result === null)
              return;

            viewType = 'Config';
            viewContent = JSON.stringify(result, null, 4);
          } else {
            console.warn(`unknown: ${optionId}`);
            return;
          }

          this.dialogTitle = event.item.conf.remark + ` - ${viewType}`;
          this.dialogContent = viewContent;
          this.showDialog = true;
        },
      },
    });
  </script>
</html>
