<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link rel="icon" href="/img/creeper.png"/>
    <title>Settings - Creeper</title>
    <script src="/js/vue-2.6.11.min.js"></script>
    <style>
      html {
        font-family: arial,sans-serif, 'Microsoft Yahei';
        color: #212121;
      }

      *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }

      body {
        background: #f9f9f9;
      }

      html, body {
        width: 100%;
        margin: 0;
        padding: 0;
      }

      #page-content {
        width: 100%;
        margin: 10px auto;
      }

      thead th {
        font-weight: 400;
        background: #8a97a0;
        color: #FFF;
      }

      tr {
        background: #d8e3e6;
      }

      tr:nth-child(even) {
        background: #e8eeef;
      }

      th, td {
        text-align: left;
        padding: 4px 10px;
      }

      .card {
        border: 1px solid #8a97a0;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px,
          rgba(0, 0, 0, 0.05) 0px 1px 4px 0px,
          rgba(0, 0, 0, 0.05) 0px 2px 8px 0px;
      }

      .feed-info {
        background-color: #e8eef3;
        padding: 5px;
        margin-bottom: 5px;
      }

      .feed-updated {
        display: flex;
        flex-direction: column-reverse;
      }

      .feed-url-wrapper a,
      .feed-url-wrapper input {
        color: #333333;
        font-size: 80%;
      }

      .feed-url-wrapper {
        display: flex;
        padding-left: 2px;
      }

      .feed-url-wrapper >input {
        flex: 1;
        outline: none;
        border: none;
        background: transparent;
        text-overflow: ellipsis;
      }

      .feed-op-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
      }

      .server-lists {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .server-list {
        display: inline-block;
        margin: 10px;
      }

      .server-list tr.duplicate,
      .server-list tr.duplicate .extra-info {
        color: #2d2d2d99;
      }

      .server-list table {
        width: 100%;
      }

      .ctrl-panel {
        width: max-content;
        margin: 5px auto;
        background-color: #e8eef3;
        border: 1px solid #5a5a5a78;
        padding: 10px 20px;
      }

      .ctrl-panel .separator {
        border-top: 1px dashed #5a5a5a78;
        margin: 10px 0;
      }

      .version {
        text-align: center;
      }

      .version a {
        color: #555f94;
        text-shadow: 0 0 8px #bfbfbf80;
      }

      .extra-info {
        color: #73828c;
        font-size: 75%;
      }

      table.core-content-only .extra-info {
        display: none;
      }

      label {
        font-size: 90%;
      }

      label[disabled] {
        opacity: 0.6;
      }

      input, button, label {
        user-select: none;
      }

      tr.actived td:first-child a:first-child::after {
        content: " \2705\FE0F";
      }

      a.text-tag {
        background: #b5d4ca;
        border-radius: 3px;
        color: #2c8671;
        padding: 0px 4px;
        margin-right: 2px;
      }

    </style>
  </head>

  <body>
    <div id="page-content">
      <div class="ctrl-panel card">
        <div class="version">
          <a>{{versionText}}</a>
        </div>
        <div class="separator"></div>
        <check-opt ref="optSmartMode" key-name="smart_mode" label="Smart Mode"
          :confirm="{beforeUncheck: 'Are you sure you want to disable SMART mode?'}">
        </check-opt>
        <check-opt ref="optAllowLan" key-name="allow_lan" label="Allow from LAN">
          <span v-if="needsRestartApp">
            (<a style="color: #e80c0c;">Needs Restart</a>)
          </span>
        </check-opt>
        <div class="separator"></div>
        <button @click="openAppFolder">App Folder</button>
        <button @click="openMonitor">Monitor</button>
        <button @click="addFeed">Add Feed</button>
      </div>
      <div class="server-lists">
        <server-list
          v-for="item in feedList"
          :feed-data="item"
          @switch-node="switchNode"
          @test-node="testNode"
          @edit-feed="editFeed"
          @delete-feed="deleteFeed"
          @update-feed="updateFeed"
        />
      </div>
    </div>
  </body>

  <script>
    function addStyle(styleString) {
      const style = document.createElement('style');
      style.textContent = styleString;
      document.head.append(style);
    }

    function makeColoredMaskStyles(items) {
      const makeStyle = (name, rgb) => `
        tr.${name} {
          background-image: linear-gradient(
            -45deg,
            rgba(${rgb}, 0.5) 12.5%,
            #0000 12.5%,
            #0000 50%,
            rgba(${rgb}, 0.5) 50%,
            rgba(${rgb}, 0.5) 62.5%,
            #0000 62.5%,
            #0000 100%
          );
          background-size: 8px 8px;
        }`;

      let result = '';
      items.forEach(args => {
        result += makeStyle(...args);
      });
      return result;
    }

    addStyle(makeColoredMaskStyles([
      ['duplicate', '204, 204, 204'],
      ['actived', '50, 220, 0'],
      ['testing', '255, 235, 0'],
    ]));

    function capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    }

    function timeDifference(current, previous) {
      const msPerSecond = 1000;
      const msPerMinute = msPerSecond * 60;
      const msPerHour = msPerMinute * 60;
      const msPerDay = msPerHour * 24;
      const msPerMonth = msPerDay * 30;
      const msPerYear = msPerDay * 365;

      const elapsed = current - previous;
      if (elapsed < msPerSecond) {
        return 'just now';
      }
      else if (elapsed < msPerMinute) {
        return Math.round(elapsed/1000) + ' seconds ago';
      }
      else if (elapsed < msPerHour) {
        return Math.round(elapsed/msPerMinute) + ' minutes ago';
      }
      else if (elapsed < msPerDay ) {
        return Math.round(elapsed/msPerHour ) + ' hours ago';
      }
      else if (elapsed < msPerMonth) {
        return Math.round(elapsed/msPerDay) + ' days ago';
      }
      else if (elapsed < msPerYear) {
        return Math.round(elapsed/msPerMonth) + ' months ago';
      }
      else {
        return Math.round(elapsed/msPerYear ) + ' years ago';
      }
    }

    function timeDiffFromNow(timestamp) {
      return timeDifference(new Date(), timestamp * 1000);
    }

    function truncateString(str, num) {
      if (str.length > num) {
        return str.slice(0, num) + "...";
      } else {
        return str;
      }
    }

    function isValidHttpUrl(strUrl) {
      let url;
      try {
        url = new URL(strUrl);
      } catch (_) {
        return false;
      }
      return ['http:', 'https:'].includes(url.protocol);
    }

    function fetchJSON(url, callback) {
      return fetch(url)
        .then(res => res.json())
        .then(data => {
          if (data.error == undefined) {
            callback(data);
          }
        })
    }

    function addShadowProp(obj, name, value) {
      delete obj[name];
      Object.defineProperty(obj, name, {value, configurable: true});
    }

    function promptURL(msg, url) {
      msgText = msg || 'URL';
      urlText = url || '';
      let inputedURL = prompt(msgText, urlText);
      if (inputedURL === null) {
        return null;
      }

      inputedURL = inputedURL.trim();
      if (!isValidHttpUrl(inputedURL)) {
        alert('Invalid URL: ' + (inputedURL || '<empty>'));
        return null;
      }

      return inputedURL;
    }

    function isSpecialItem(item, index) {
      if (index >= 5) {
        return false;
      }

      const port = parseInt(item.conf.server_port);
      return port < 10 || [10086].includes(port);
    }

    Vue.component('check-opt', {
      template: `
        <label>
          <input
            type="checkbox"
            v-model="checked"
            :disabled="pending"
            @change="onChanged($event)"
          />
          {{label}}
          <slot></slot>
        </label>
      `,
      props: ['keyName', 'label', 'confirm'],
      data() {
        return {
          checked: false,
          pending: true,
        }
      },
      methods: {
        doConfirm(isChecked) {
          const confirmInfo = this.confirm;
          if (!confirmInfo) {
            return true;
          }

          if (isChecked && confirmInfo.beforeCheck) {
            return confirm(confirmInfo.beforeCheck);
          } else if (!isChecked && confirmInfo.beforeUncheck) {
            return confirm(confirmInfo.beforeUncheck);
          }

          return true;
        },
        async onChanged(event) {
          this.pending = true;
          const isChecked = this.checked;

          if (!this.doConfirm(isChecked)) {
            this.update(!isChecked);
            this.syncUi(event);
            return;
          }

          conf = {key: this.keyName, value: isChecked};
          result = await this.$parent.apiPostJSON(
            '/api/user_settings', conf);
          if (result !== null) {
            this.update(isChecked);
          }
        },
        syncUi(event) {
          event.target.checked = this.checked;
        },
        update(checked) {
          if (checked !== undefined) {
            this.checked = !!checked;
            this.pending = false;
          }
        },
        init(data) {
          this.update(data[this.keyName]);
        },
      },
    });

    Vue.component('server-list', {
      template: `
        <div class="server-list">
          <div class="feed-info card">
            <div class="feed-url-wrapper">
              <a v-if="feedData.scheme" class="text-tag">{{feedData.scheme}}</a>
              <input type="text" v-model="feedData.url" :title="feedData.url" readonly />
              <div class="feed-updated">
                <a>{{serversUpdateTip}}</a>
              </div>
            </div>
            <div class="feed-op-buttons">
              <div style="margin-right: 15px;">
                <label :disabled="!duplicateNumber">
                  <input type="checkbox" v-model="showDuplicate" :disabled="!duplicateNumber" />
                    Duplicates ({{duplicateNumber}})
                </label>
                <label><input type="checkbox" v-model="showExtraInfo" />Details</label>
              </div>
              <div>
                <button @click="editFeedUrl()">Edit</button>
                <button @click="$emit('delete-feed', feedData)" style="color: #e80c0c;">Remove</button>
                <button :disabled="!feedData.url || isUpdatingFeed" @click="emitUpdateFeed()">
                  {{isUpdatingFeed ? 'Updating' : 'Update'}}
                </button>
                <button @click="testAllNodesOrStop()">
                  {{isTestingSpeed ? 'Stop Test' : 'Test'}}
                </button>
              </div>
            </div>
          </div>
          <div v-if="feedData.proxies.length" class="card">
            <table :class="{'core-content-only': !showExtraInfo}">
              <thead>
                <tr>
                  <th>Server</th>
                  <th>Speed</th>
                  <th>Operation</th>
                </tr>
              </thead>
              <tr v-for="(item, index) in feedData.proxies"
                :class="serverItemClass(item)"
                v-show="showDuplicate || !item.duplicate">
                <td>
                  <a>{{item.conf.remark}}</a><br />
                  <a class="extra-info">{{item.uid}}</a>
                </td>
                <td>
                  <a :title="getNodeSpeed(item)?.title" :style="speedStyle(item)">
                    {{speedText(item)}}
                  </a><br />
                  <a class="extra-info">{{getNodeSpeed(item)?.update}}</a>
                </td>
                <td>
                  <span v-if="canTestSpeed(item, index)">
                    <button @click="emitTestNode(item)">Test</button>
                    <button @click="$emit('switch-node', item)">Switch</button>
                  </span>
                </td>
              </tr>
            </table>
          </div>
          </div>
        </div>
      `,
      props: ['feedData'],
      data() {
        return {
          showDuplicate: false,
          showExtraInfo: false,
          isUpdatingFeed: false,
          isTestingSpeed: false,
        }
      },
      computed: {
        duplicateNumber() {
          return this.feedData.proxies.filter(
            item => item.duplicate
          ).length;
        },
        serversUpdateTip() {
          const updatedTime = this.feedData.update;
          if (updatedTime) {
            const interval = timeDiffFromNow(updatedTime);
            return `(updated ${interval})`;
          }
          return '';
        },
      },
      methods: {
        async editFeedUrl() {
          const feedUrl = this.feedData.url;
          const url = promptURL('Edit Feed URL', feedUrl);
          if (url === null) {
            return;
          }

          this.$emit('edit-feed', this.feedData.uid, url, (result) => {
            if (result !== null) {
              this.feedData.url = url;
            }
          });
        },
        serverItemClass(item) {
          if (item.duplicate) {
            return {duplicate: true};
          }

          const activedServer = this.$parent.activedServer;
          const actived = (activedServer && item.uid === activedServer);
          return {
            actived,
            testing: item.testing,
          };
        },
        canTestSpeed(item, index) {
          if (item.conf.server_port === undefined) {
            return false;
          }

          if (item.duplicate) {
            return false;
          }

          if (isSpecialItem(item, index)) {
            return false;
          }

          return true;
        },
        getNodeSpeed(item) {
          if (item.testing) {
            return {
              update: '...',
              result: '\uD83C\uDFCD\uFE0F Testing...',
            };
          }
          return this.$parent.speed[item.uid];
        },
        speedText(item) {
          if (item.duplicate) {
            return;
          }
          return this.getNodeSpeed(item)?.result;
        },
        speedStyle(item) {
          const highestSpeed = this.$parent.highestSpeed;
          const speed = this.getNodeSpeed(item)?.speedNum;
          if (speed === null || speed === undefined || !highestSpeed) {
            return {
              'color': '#c5ae08',
            };
          }

          const colorSlow = [11, 75, 215];
          const colorFast = [255, 0, 191];

          let rgb = [];
          for (var i = 0; i < 3; ++i) {
            const colorDiff = colorFast[i] - colorSlow[i];
            rgb[i] = colorDiff * (speed / highestSpeed) + colorSlow[i];
          }

          return {
            'color': `rgb(${rgb[0]}, ${rgb[1]}, ${rgb[2]})`,
          };
        },
        async testAllNodesOrStop() {
          if (this.isTestingSpeed) {
            this.isTestingSpeed = false;
            return;
          }

          this.isTestingSpeed = true;
          const proxies = this.feedData.proxies;
          for (const [index, proxy] of proxies.entries()) {
            if (!this.isTestingSpeed || !this.canTestSpeed(proxy, index)) {
              continue;
            }
            await new Promise(resolve => this.emitTestNode(proxy, resolve));
          }
          this.isTestingSpeed = false;
        },
        emitTestNode(item, callback) {
          item.testing = true;
          this.$emit('test-node', item, () => {
            item.testing = false;
            if (callback) {
              callback();
            }
          });
        },
        emitUpdateFeed() {
          this.isUpdatingFeed = true;
          this.$emit('update-feed', this.feedData.uid, (result) => {
            this.isUpdatingFeed = false;
          });
        },
      },
    });

    new Vue({
      el: '#page-content',
      data: {
        version: null,
        speed: {},
        highestSpeed: 0,
        appConf: {},
        feedList: [],
        activedServer: null,
      },
      mounted() {
        fetchJSON('/version.json', data => this.version = data);

        fetchJSON('/feed.json', data => {
          this.feedList = this.addMetaDataToFeedList(data);
        })
          .then(this.loadSpeedData)
          .then(this.loadSelectedProxy)
        ;

        fetchJSON('/api/token', data => this.token = data.token)
          .then(this.loadUserSetting)
        ;
      },
      computed: {
        versionText() {
          if (!this.version) {
            return null;
          }

          const v = this.version;
          const name = capitalizeFirstLetter(v.name);
          return `${name} ${v.verison} (${v.build})`;
        },
        needsRestartApp() {
          app = this.appConf;
          anyAddr = app && app['listen_any_addr'];
          el = this.$refs['optAllowLan'];
          return el?.checked && !anyAddr;
        },
      },
      methods: {
        async apiPostJSONCallback(url, obj, callback) {
          const apiURL = (url + '?token=' + this.token);
          return await fetch(apiURL, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(obj)
            })
            .then(res => {
                return res.json();
            })
            .then(callback)
          ;
        },
        async apiPostJSON(url, obj) {
          return await this.apiPostJSONCallback(url, obj, data => {
            if (data.error) {
              alert(`When call ${url}:\nError: ${data.error}`);
              return null;
            } else {
              return data;
            }
          });
        },
        async apiPostJSONNoAlert(url, obj) {
          return await this.apiPostJSONCallback(url, obj, data => data);
        },
        makeProxyUID(scheme, proxy) {
          let extra = '';
          const conf = proxy.conf;
          if (scheme === 'vmess') {
            const host = conf.host || '';
            const path = conf.path || '';
            extra = ` - ${host}${path}`;
          }
          const serverAddr = conf.server + ':' + conf.server_port;
          return serverAddr + extra;
        },
        adaptPropNames(feedItem) {
          if (feedItem.scheme === 'vmess') {
            feedItem.proxies.forEach(server => {
              const conf = server.conf;
              addShadowProp(conf, 'remark', conf.ps);
              addShadowProp(conf, 'server', conf.add);
              addShadowProp(conf, 'server_port', conf.port);
            });
          }
        },
        addMetaDataToFeedList(items) {
          if (!items) {
            return [];
          }

          items.forEach(item => {
            this.adaptPropNames(item);
            item.proxies.forEach((proxy, i) => {
              if (isSpecialItem(proxy, i)) {
                proxy.duplicate = false;
              }

              proxy.type = item.scheme;
              proxy.uid = this.makeProxyUID(item.scheme, proxy);
              proxy.testing = false;
            });
          });

          return items;
        },
        isUIDInFeed(uid) {
          if (!uid) {
            return false;
          }

          for (let i = 0; i < this.feedList.length; ++i) {
            const item = this.feedList[i].proxies;
            for (const key in item) {
              if (item.hasOwnProperty(key)) {
                if (item[key].uid === uid) {
                  return true;
                }
              }
            }
          }

          return false;
        },
        updateHighestSpeed(result) {
          let highestSpeed = 0;
          const speedList = result || this.speed;

          Object.entries(speedList).forEach(entry => {
            const [key, value] = entry;
            const speed = value?.speedNum;
            if (speed && this.isUIDInFeed(key)) {
              if (speed > highestSpeed) {
                highestSpeed = speed;
              }
            }
          });

          this.highestSpeed = highestSpeed || 99999;
        },
        loadSelectedProxy() {
          fetchJSON('/cur_node.json', data => {
            this.addMetaDataToFeedList([{
              scheme: data.type,
              proxies: [data],
            }]);
            this.activedServer = data.uid;
          });
        },
        loadUserSetting() {
          fetchJSON('/api/user_settings', data => {
            this.appConf = data.app;
            ['optSmartMode', 'optAllowLan'].forEach(name => {
              el = this.$refs[name];
              el.init(data);
            });
          });
        },
        getServerSpeed(speedText) {
          if (!speedText) {
            return null;
          }

          const words = speedText.match(/([\d\.]+)MiB\/s/);
          if (words === null) {
            return null;
          }

          return parseFloat(words[1]);
        },
        makeSpeedText(speedItem) {
          const error = speedItem.error;
          if (error !== undefined) {
            let words = error.match(/([^:]*): "(.*)"/);
            if (words === null) {
              shortError = truncateString(error, 20);
              words = [null, shortError, error];
            }

            return {
              update: 'failed',
              result: '\u26a0\ufe0f ' + words[1],
              title: words[2],
            };
          }

          result = speedItem['result'];
          speedText = result['average_dl_speed'];
          speedTextFull = `${speedText} (+${result['connection_time']})`
          updateTime = speedItem['update'];

          return {
            update: timeDiffFromNow(updateTime),
            updateTime: updateTime,
            result: speedTextFull,
            speedNum: this.getServerSpeed(speedText),
          }
        },
        loadSpeedData() {
          fetchJSON('/speed.json', data => {
            let result = {};
            Object.entries(data).forEach(entry => {
              const [key, value] = entry;
              result[key] = this.makeSpeedText(value);
            });

            this.speed = {};
            this.updateHighestSpeed(result);
            this.speed = result;
          });
        },
        openAppFolder() {
          this.apiPostJSON('/api/simple_cmd', {cmd: 'open_app_folder'});
        },
        openMonitor() {
          window.open('/monitor.html', 'monitor',
            'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,' +
            'resizable=yes,copyhistory=no,width=1100,height=800,top=100,left=100');
        },
        async addFeed() {
          const url = promptURL('Add Feed URL');
          if (url === null) {
            return;
          }

          result = await this.apiPostJSON('/api/add_feed', {url});
          if (result === null) {
            return;
          }

          if (result.existing) {
            alert('Feed already existing: \n' + url);
          } else {
            this.feedList.push(result.feed);
          }
        },
        async switchNode(item) {
          const result = await this.apiPostJSON('/api/switch_node', item);
          if (result !== null) {
            this.activedServer = item.uid;
          }
        },
        async testNode(item, callback) {
          const result = await this.apiPostJSONNoAlert('/api/test_speed', item);
          const speedText = this.makeSpeedText(result);
          this.$set(this.speed, item.uid, speedText);
          callback();
          this.updateHighestSpeed();
        },
        async editFeed(uid, url, callback) {
          const result = await this.apiPostJSON('/api/edit_feed', { uid, url });
          callback(result);
        },
        opFeedByUID(uid, func, ...args) {
          for (let i = 0; i < this.feedList.length; ++i) {
            const item = this.feedList[i];
            if (item.uid == uid) {
              func(this.feedList, i, ...args);
              break;
            }
          }
        },
        async deleteFeed(feedItem) {
          if (!confirm(`Delete feed: "${feedItem.url}"?`)) {
            return;
          }

          const uid = feedItem.uid;
          const result = await this.apiPostJSON('/api/delete_feed', { uid });
          if (result !== null) {
            this.opFeedByUID(uid, this.$delete);
          }
        },
        async updateFeed(uid, callback) {
          const result = await this.apiPostJSON('/api/update_feed', { uid });
          if (result !== null) {
            const feed = this.addMetaDataToFeedList([result])[0];
            this.opFeedByUID(uid, this.$set, feed);
          }
          callback(result);
        },
      },
    });
  </script>
</html>
